/* Basic colors */
:root {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: black;
    --bg-color: rgb(255, 255, 255);
    --heading-color: #292922;
    --bgra-color: linear-gradient(104deg, rgba(34, 193, 195, 1) 14%, rgb(174 144 251) 56%, rgba(253, 187, 45, 1) 100%);
}

/* Dark mode ON */
[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: white;
    --bg-color: #161625;
    --heading-color: #818cab;
    --bgra-color: linear-gradient(10deg, rgba(39, 113, 113, 1) 14%, rgba(66, 45, 121, 1) 56%, rgb(96 66 0) 100%);
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: var(--bg-color);
    margin: 0;
    color: var(--font-color);
}


h2 {
    font-family: 'Oswald', sans-serif;
    color: var(--font-color);
    border-left: 3px solid var(--font-color);
    padding-left: 0.3em;
    margin: 5rem 0 2rem 0;
}
h3 {
    text-align: center;
}
.headings__example--2 {
    border: none;
    padding-left: 0;
    margin: 0;
}

.background__text > h1 {  
    color: white;
    font-size: 4rem;
    text-align: left;
}

.showmore {
    padding-block: .5rem;
    padding-inline: 2.5rem;
    border: 2px solid;
    border-color: white;
    color: white;
    border-radius: 25px;
    margin: 0;
    text-decoration: none;

}

.showmore:hover {
    background-color: white;
    color: black;
}






/* headings */
.headings__example {
    color: var(--font-color);
}

.headings__example--1 {
    font-size: 2rem;

    border: none;
    padding: 0;
}

/* Navbar */
.menu__container {
    padding: 0;
    margin: 0;
}
.headings__example--3 {
    text-align: left;
}

.navbar__menu li {
    list-style: none;

}

.navbar__menu a {
    color: white;
    text-decoration: none;
}

.menu__container {
    margin: 0 auto;
}

.menu {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {

    margin: 2rem;
}

.navbar__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.menu__item {
    transition: 0.3s ease-out;
}

.menu__item:hover {
    color: dodgerblue;
}

.hamburger {
    display: none;
    cursor: pointer;
    margin-inline: 2rem;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: white;
    border-radius: 1.5px;
}

.menu {
    overflow: hidden;
    background-color: black;
    position: fixed;

    width: 100%;
    z-index: 100;
}

.navbar__menu a:hover {
    color: yellow;
}

.navbar__menu a:hover::after {
    content: '';
    width: 25px;
    height: 2px;
    color: #ffe137;
}


.nav__logo::before {
    content: url(./IMG/Home-icon.svg);
    padding: 2rem;
}

/* Dark mode switch */
.darkmode {
    display: flex;
    align-items: center;
    margin: 2rem;
}

.darkmode__text {
    margin-left: 10px;
    font-size: 1rem;
    color: white;
}

.darkmode__switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.darkmode__switch input {
    display: none;
}

.button--darkmode {
    background-color: rgb(0, 0, 0);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
    border: 2px solid;
    border-color: white;
}

.button--darkmode:before {


    background-color: #fff;
    bottom: 2px;
    content: "";
    height: 26px;
    left: 2px;
    position: absolute;
    transition: 0.6s;
    width: 26px;
}

input:checked+.button--darkmode {
    background-color: #ffe137;
    border-color: #ffe137;
}

input:checked+.button--darkmode:before {
    transform: translateX(26px);
}

.button--darkmode.round {
    border-radius: 34px;
}

.button--darkmode.round:before {
    border-radius: 50%;
}

/* H1 with background image */
.image__background {
    display: flex;
    flex-direction: column;
    background-image: var(--bgra-color);
    height: 100vh;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    max-height: 1080px;

    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}



.background__text {
    font-size: 1.4rem;
    text-align: center;
    color: white;
    padding: 2rem;


}

.background__text p {
    text-align: initial;
}



h1 span {
    background: linear-gradient(52deg, rgba(255, 99, 42, 1) 14%, rgba(255, 229, 19, 1) 69%);
    ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* button */
button {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 6px;
    height: 36px;
    line-height: 34px;
    padding: 0 18px;
    font-weight: 400;
}

.button__basic {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.button {
    margin: 10px;
    color: white;
}

.button--correct {
    background-color: rgb(48, 177, 48);


}

.button--wrong {
    background-color: rgb(197, 12, 12);

}

.button--normal {
    background-color: rgb(0, 132, 209);

}

.button:hover {
    scale: 1.05;
}

.button--correct:hover {
    background-color: rgb(2, 129, 2);



}

.button--wrong:hover {
    background-color: rgb(255, 24, 24);



}

.button--normal:hover {
    background-color: rgb(21, 152, 228);


}

/* Gallery */

figcaption {

    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(57, 57, 57, 0.502);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.1s 0.05s ease-in-out;
    color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.flexgallery figcaption:hover {
    transform: scale(1);
}


.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 0;
}

.image-gallery>li {

    width: 350px;
    list-style: none;
    flex-basis: 350px;
    position: relative;
    cursor: pointer;
}

.image-gallery li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 5px;
}

.image-gallery::after {
    content: "";
    flex-basis: 350px;
}



.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(57, 57, 57, 0.502);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.1s 0.1s ease-in-out;
    color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    box-sizing: border-box;
}

/* hover */
.image-gallery li:hover .overlay {
    transform: scale(1);
}

/* Dark Mode */

/* Alerts */
.alert__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

.alert__list .alert {
    flex-grow: 2;
}

.alert {
    padding: 20px;
    border-radius: 10px;
    color: white;
    max-width: 250px;
}

.alert--save {
    background-color: rgb(228, 225, 77);
}

.alert--sign {
    background-color: rgb(32, 141, 230);
}

.alert--critical {
    background-color: rgb(214, 32, 32);
}

/* Colors */
.color__palette {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-content: space-around;
}

.color {
    content: "";
    height: 12rem;
    width: 12rem;
}

.color--1 {
    background-color: aqua;
}

.color--2 {
    background-color: aquamarine;
}

.color--3 {
    background-color: beige;
}

.color--4 {
    background-color: blueviolet;
}

.color--5 {
    background-color: crimson;
}

.table__example {
    background-color: aqua;
}

/* Section */
section {
    max-width: 1200px;
    display: block;
    margin: 0 auto;

}

/* Table */
table {
    color: black;
    background-color: black;
    border-style: 1px solid black;
}
table td {
    background-color: white;
}
table th {
    background-color: gray;
}
/* footer */
footer {
    color: white;
    background-color: black;
    text-align: center;
    padding: 2rem;
    margin-top: 1rem;
}
