/* Layers */




/* Basic colors */
:root {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: rgb(255, 255, 255);
    --heading-color: #292922;
}

/* Dark mode ON */
[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: var(--bg-color);
    margin: 0
}

h1,
h2 {
    font-family: 'Oswald', sans-serif;
    color: var(--bg-color);
}

.showmore {
    padding-block: .5rem;
    padding-inline: 2.5rem;
    border: 2px solid;
    border-color: white;
    color: white;
    border-radius: 25px
}
.showmore:hover {
    background-color: white;
    color: black;
}
.showmore p {
    margin: 0;
}

/* titles */
section h2 {
    text-align: center;
}

/* Navbar */
.menu__container {
    padding: 0;
    margin: 0;
}

.navbar__menu li {
    list-style: none;

}

.navbar__menu a {
    color: white;
    text-decoration: none;
}

.menu__container {
    margin: 0 auto;
}

.menu {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {

    margin: 2rem;
}

.navbar__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.menu__item {
    transition: 0.3s ease-out;
}

.menu__item:hover {
    color: dodgerblue;
}

.hamburger {
    display: none;
    cursor: pointer;
    margin-inline: 2rem;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: white;
}

.menu {
    overflow: hidden;
    background-color: black;
    position: fixed;

    width: 100%;
    z-index: 100;
}

.navbar__menu a:hover {
    color: yellow;
}
.navbar__menu a:hover::after {
    content: '';
    width: 25px;
    height: 2px;
    color: #ffe137;
}


.nav__logo::before {
    content: url(./IMG/Home-icon.svg);
    padding: 2rem;
}

/* Dark mode switch */
.darkmode {
    display: flex;
    align-items: center;
  
    em {
      margin-left: 10px;
      font-size: 1rem;
    }
  }
  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.darkmode__switch input {
    display: none;
}

.button--darkmode {
    background-color: rgb(0, 0, 0);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
    border: 2px solid;
    border-color: white;
}

.button--darkmode:before {


    background-color: #fff;
    bottom: 2px;
    content: "";
    height: 26px;
    left: 2px;
    position: absolute;
    transition: 0.6s;
    width: 26px;
}

input:checked+.button--darkmode {
    background-color: #ffe137;
    border-color: #ffe137;
}

input:checked+.button--darkmode:before {
    transform: translateX(26px);
}

.button--darkmode.round {
    border-radius: 34px;
}

.button--darkmode.round:before {
    border-radius: 50%;
}

/* H1 with background image */
.image__background {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("");
    height: 100vh;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;

}

.background__text {
    font-size: 1.4rem;
    text-align: center;
    color: white;
    padding: 2rem;

}

/* button */
button {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 6px;
    height: 36px;
    line-height: 34px;
    padding: 0 18px;
    font-weight: 400;
}

.button__basic {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.button {
    margin: 10px;
    color: white;
}

.button--correct {
    background-color: rgb(48, 177, 48);


}

.button--wrong {
    background-color: rgb(197, 12, 12);

}

.button--normal {
    background-color: rgb(0, 132, 209);

}

.button:hover {
    scale: 1.05;
}

.button--correct:hover {
    background-color: rgb(2, 129, 2);



}

.button--wrong:hover {
    background-color: rgb(255, 24, 24);



}

.button--normal:hover {
    background-color: rgb(21, 152, 228);


}

/* Gallery */
.flexgallery {
    display: flex;
    flex-wrap: wrap;
}

.flexgallery img {
    width: 100%;
    position: relative;
}

.flexgallery figcaption {

    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(57, 57, 57, 0.502);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.1s 0.05s ease-in-out;
    color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.flexgallery figcaption:hover {
    transform: scale(1);
}


.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.image-gallery li {
    flex-basis: 90%;
    /* width: 350px; */
    list-style: none;
}

.image-gallery li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 5px;
}

.image-gallery::after {
    content: "";
    flex-basis: 350px;
}

.image-gallery li {
    /* ... */
    position: relative;
    cursor: pointer;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(57, 57, 57, 0.502);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.1s 0.1s ease-in-out;
    color: #fff;
    border-radius: 5px;
    /* center overlay text */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* hover */
.image-gallery li:hover .overlay {
    transform: scale(1);
}

/* Dark Mode */

/* Alerts */
.alert__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

.alert__list .alert {
    flex-grow: 2;
}

.alert {
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.alert--save {
    background-color: rgb(228, 225, 77);
}

.alert--sign {
    background-color: rgb(32, 141, 230);
}

.alert--critical {
    background-color: rgb(214, 32, 32);
}

/* Colors */
.color__palette {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-content: space-around;
}

.color {
    content: "";
    height: 12rem;
    width: 12rem;
}

.color--1 {
    background-color: aqua;
}

.color--2 {
    background-color: aquamarine;
}

.color--3 {
    background-color: beige;
}

.color--4 {
    background-color: blueviolet;
}

.color--5 {
    background-color: crimson;
}

.table__example {
    background-color: aqua;
}