body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2 {
    font-family: 'Oswald', sans-serif;
}

button {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 6px;
    height: 36px;
    line-height: 34px;
    padding: 0 18px;
    font-weight: 400;
}
.button--correct {
    background-color: rgb(48, 177, 48);
    color: white;
    
}
.button--wrong {
    background-color:rgb(197, 12, 12);
    color: white
}   
.button--normal {
    background-color: rgb(0, 132, 209);
    color: white;
}
.button--correct:hover {
    background-color: rgb(2, 129, 2);
    color: white;
    scale: 1.05;  
    
}
.button--wrong:hover {
    background-color:rgb(255, 24, 24);
    color: white;
    scale: 1.05;    

}   
.button--normal:hover {
    background-color: rgb(21, 152, 228);
    color: white;
    scale: 1.05;  
    
}
.flexgallery {
    display: flex;
    flex-wrap: wrap;
}
.flexgallery img {
    width: 100%;
    position: relative;
}
.flexgallery figcaption {
    
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(57, 57, 57, 0.502);
  top: 0;
  left: 0;
  transform: scale(0);
  transition: all 0.2s 0.1s ease-in-out;
  color: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.flexgallery figcaption:hover {
  transform: scale(1);
}

body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}

.dark-mode {
  background-color: black;
  color: white;
}
.alert {
    padding: 20px;
    border-radius: 5px;
}